<div>
  Bienvenue sur OPTC TierList Maker <br />
  <br />
  Ici vous pouvez réaliser vos différentes Tier List pour One Piece Treasure
  Cruise par catégorie. <br />
  Voici la liste des fonctionnalités : <br />
  <br />

  <ul>
    <li>Le titre de la Tier list est modifiable</li>
    <li>Les noms des différents Tiers sont modifiables</li>
    <li>
      Uniquement dans le dernier Tier, vous pouvez effectuer un clic droit sur
      un personnage pour le supprimer de la Tier List. Vous pouvez ré-afficher
      les personnages supprimés via un bouton d'action. Les personnages peuvent
      ensuite être remis dans la tier list avec un nouveau clic droit.
    </li>
    <li>
      Vous pouvez sauvegarder votre Tier List à tout moment pour la reprendre
      plus tard ou simplement la garder. Votre Tier List est stockée dans votre
      propre navigateur via le Local Storage.
    </li>
    <li>Vous pouvez sauvegarder autant de Tier Lists que vous le souhaitez</li>
    <li>
      Vous pouvez charger une Tier List précédemment sauvegardée. Cela effacera
      votre Tier List en cours si elle n'a pas été sauvegardée au préalable.
    </li>
    <li>Vous pouvez supprimer une Tier List précédemment sauvegardée</li>
    <li>
      Vous pouvez partager une Tier List via une simple URL. Cliquez sur le
      bouton de partage et l'URL contenant votre Tier List sera copiée dans
      votre presse-papiers (faites CTRL+V ensuite)
    </li>
    <li>Vous pouvez exporter votre Tier List sous forme d'une image</li>
    <li>
      Vous pouvez exporter votre Tier List sous forme d'une image tout en
      choisissant de cacher le dernier Tier
    </li>
  </ul>
</div>
