<div class="header">
  <h1>
    <input [(ngModel)]="tierListTitle" />
  </h1>
</div>

<ul class="nav">
  <ng-container *ngFor="let tierList of tierLists; let tierIndex = index">
    <li *ngIf="tierIndex < 5" (click)="switchTierList(tierIndex)">
      {{ tierList.name }}
    </li>
  </ng-container>
  <li>
    <span>Autres</span>
    <ul>
      <ng-container *ngFor="let tierList of tierLists; let tierIndex = index">
        <li *ngIf="tierIndex > 4" (click)="switchTierList(tierIndex)">
          {{ tierList.name }}
        </li>
      </ng-container>
    </ul>
  </li>
</ul>

<div class="container">
  <app-tier-list-actions
    class="actions-list"
    [hidden]="!showActions"
    [tierListTitle]="tierListTitle"
    [tiers]="tiers"
    [removedCharacters]="removedCharacters"
    [showRemovedCharacters]="showRemovedCharacters"
    (toggleShowRemovedCharacters)="onToggleShowRemovedCharacters($event)"
    (loadTierList)="onLoadTierList($event)"
    (exportTierList)="onExportTierList($event)"
  ></app-tier-list-actions>

  <br />

  <div id="download" style="visibility: hidden; height: 0">
    <img #canvas />
    <a #downloadLink></a>
  </div>

  <div cdkDropListGroup>
    <table #screen>
      <tbody>
        <ng-container *ngFor="let tier of tiers; let i = index">
          <tr *ngIf="i !== 6 || !hideLastTier">
            <td class="labelHolder" contenteditable="false">
              <input
                [ngStyle]="{ 'background-color': colors[i] }"
                [(ngModel)]="tier.name"
              />
            </td>
            <td
              cdkDropList
              [cdkDropListData]="tier.characters"
              (cdkDropListDropped)="drop($event)"
            >
              <div class="tier sort" id="rows">
                <ng-container *ngFor="let character of tier.characters">
                  <ng-container *ngIf="i !== 6">
                    <img
                      [src]="'assets/characters/' + character"
                      width="64"
                      alt=""
                      cdkDrag
                    />
                  </ng-container>

                  <ng-container *ngIf="i === 6">
                    <img
                      [src]="'assets/characters/' + character"
                      width="64"
                      alt=""
                      (contextmenu)="removeCharacterFromTier(tier, character)"
                      cdkDrag
                    />
                  </ng-container>
                </ng-container>

                <ng-container *ngIf="showRemovedCharacters && i === 6">
                  <img
                    *ngFor="let character of removedCharacters"
                    class="removed-character"
                    [src]="'assets/characters/' + character"
                    width="64"
                    alt=""
                    (contextmenu)="putCharacterBackInTier(tier, character)"
                    cdkDrag
                  />
                </ng-container>
              </div>
            </td></tr
        ></ng-container>
      </tbody>
    </table>
  </div>
</div>

<div class="fixed-buttons">
  <button
    mat-icon-button
    [ngClass]="{ active: showActions }"
    (click)="showActions = !showActions"
  >
    <mat-icon>settings</mat-icon>
  </button>

  <button mat-icon-button (click)="showInformationsDialog()">
    <mat-icon>info</mat-icon>
  </button>
</div>
