td {
  border: solid 3px black;
  margin: 0;
  padding: 0;
  height: 64px;
}

tr {
  line-height: 0px;
}

table {
  border-spacing: 0;
  border: solid 3px black;
  margin-top: 20px;
}

.labelHolder {
  min-width: 48px;
  height: 64px;
  transition: background 0.3s;
}

.tier {
  width: 960px;
  min-height: 64px;
  text-align: left;
}

h1,
h2,
div,
input,
details {
  color: white;
  font-family: "Roboto", sans-serif;
}

h1,
details {
  text-align: center;
}

h1 {
  width: 80%;
  margin: 0 auto;
}

details {
  margin-top: 20px;
}

details button {
  margin-top: 15px;
}

.nav {
  background-color: #666666;
  color: white;
  display: flex;
  justify-content: center;

  & > li {
    border-left: solid 1px white;
    padding: 15px;
    cursor: pointer;
    position: relative;

    // &:first-of-type {
    //   border-left: 0;
    // }

    &:last-of-type {
      border-right: solid 1px white;
    }

    &:hover {
      background-color: #eee;
      color: black;

      ul {
        display: block;
      }
    }
  }

  li ul {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    background-color: #666666;
    padding: 0;

    li {
      list-style: none;
      padding: 15px;
      cursor: pointer;
      color: white;

      &:hover {
        background-color: #eee;
        color: black;
      }
    }
  }
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 30px;
}

h1 input {
  background-color: transparent;
  border: none;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 24px;
}

table input {
  background-color: #00bfff;
  border: none;
  display: block;
  height: 100%;
  color: black;
  text-align: center;
}

.infos {
  box-sizing: border-box;
  border: solid 1px white;
  padding: 5px;
  font-size: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
}

.fixed-buttons {
  position: fixed;
  bottom: 35px;
  left: 35px;
  display: flex;
  flex-direction: column;

  button {
    margin-top: 20px;

    &:first-of-type {
      margin-top: 0;
    }
  }
}

.header {
  position: relative;
  padding: 20px;
}

details summary {
  cursor: pointer;
}

button {
  font-size: 15px;
  cursor: pointer;
  background-color: white;
  color: black;

  &.warn {
    background-color: #f44336;
  }

  &.active {
    background-color: lightskyblue;
  }
}

details button {
  margin-left: 10px;
  margin-top: 10px;
}

.removed-character {
  filter: grayscale(1);
}
