.informations-content {
  margin-top: 20px;
}

ul li {
  margin-top: 10px;
}

.subtitle strong {
  font-style: italic;
}

.hint {
  font-size: 11px;
}

.copyright {
  font-size: 12px;
  text-align: right;
}
