<h1>
  <input [(ngModel)]="tierListTitle" />
</h1>

<ul class="nav">
  <ng-container *ngFor="let tierList of tierLists; let tierIndex = index">
    <li *ngIf="tierIndex < 5" (click)="switchTierList(tierIndex)">
      {{ tierList.name }}
    </li>
  </ng-container>
  <li>
    <span>Autres</span>
    <ul>
      <ng-container *ngFor="let tierList of tierLists; let tierIndex = index">
        <li *ngIf="tierIndex > 4" (click)="switchTierList(tierIndex)">
          {{ tierList.name }}
        </li>
      </ng-container>
    </ul>
  </li>
</ul>

<details class="actions-container">
  <summary>Actions</summary>

  <button (click)="downloadImage(false)">Exporter ma Tier List</button>
  <button (click)="downloadImage(true)">
    Exporter ma Tier List sans voir le dernier Tier
  </button>
  <button (click)="saveTierList()">Sauvegarder ma Tier List</button>
  <button [ngClass]="{ active: loadingTierList }" (click)="loadTierList()">
    Charger une Tier List
  </button>
  <button
    [ngClass]="{ active: removingTierList }"
    style="background-color: red"
    (click)="removeTierList()"
  >
    Supprimer une Tier List
  </button>

  <div *ngIf="loadingTierList">
    <h2>Tier List sauvegardées</h2>
    <p>Veuillez sélectionner une Tier List à charger</p>
    <button
      *ngFor="let tierList of loadedTierLists"
      (click)="selectTierListToLoad(tierList)"
    >
      {{ tierList.name }}
    </button>
  </div>

  <div *ngIf="removingTierList">
    <h2>Tier List sauvegardées</h2>
    <p>Veuillez sélectionner une Tier List à supprimer</p>
    <button
      *ngFor="let tierList of loadedTierLists"
      (click)="selectTierListToRemove(tierList)"
    >
      {{ tierList.name }}
    </button>
  </div>
</details>

<br />

<div id="download" style="visibility: hidden; height: 0">
  <img #canvas />
  <a #downloadLink></a>
</div>

<div cdkDropListGroup>
  <div id="tablewrap">
    <table #screen>
      <tbody>
        <ng-container *ngFor="let tier of tiers; let i = index">
          <tr *ngIf="i !== 6 || !hideLastTier">
            <td class="labelHolder" contenteditable="false">
              <input
                [ngStyle]="{ 'background-color': colors[i] }"
                [(ngModel)]="tier.name"
              />
            </td>
            <td
              cdkDropList
              [cdkDropListData]="tier.characters"
              (cdkDropListDropped)="drop($event)"
            >
              <div class="tier sort" id="rows">
                <img
                  *ngFor="let character of tier.characters"
                  [src]="'assets/characters/' + character"
                  width="64"
                  alt=""
                  cdkDrag
                />
              </div>
            </td></tr
        ></ng-container>
      </tbody>
    </table>
  </div>
</div>
