td {
  border: solid 3px black;
  margin: 0;
  padding: 0;
  height: 64px;
}

tr {
  line-height: 0px;
}

table {
  border-spacing: 0;
  border: solid 3px black;
}

.labelHolder {
  min-width: 48px;
  height: 64px;
  transition: background 0.3s;
}

.tier {
  width: 960px;
  min-height: 64px;
  text-align: left;
}

button.active {
  background-color: lightskyblue;
}

@media (max-width: 1280px) and (max-device-width: 1280px) {
  .tier {
    width: 640px;
  }
  table {
    min-width: 0px;
  }
}

@media handheld {
  body {
    width: 800px;
  }
}

* {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
div,
input,
details {
  color: white;
}

h1,
details {
  text-align: center;
}

h1 {
  width: 80%;
  margin: 0 auto;
}

details {
  margin-top: 20px;
}

details button {
  margin-top: 15px;
}

.nav {
  background-color: #666666;
  color: white;
  display: flex;
  justify-content: center;

  & > li {
    border-left: solid 1px white;
    padding: 15px;
    cursor: pointer;
    position: relative;

    &:first-of-type {
      border-left: 0;
    }

    &:hover {
      background-color: #eee;
      color: black;

      ul {
        display: block;
      }
    }
  }

  li ul {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    background-color: #666666;
    padding: 0;

    li {
      list-style: none;
      padding: 15px;
      cursor: pointer;
      color: white;

      &:hover {
        background-color: #eee;
        color: black;
      }
    }
  }
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

h1 input {
  background-color: transparent;
  border: none;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 24px;
}

table input {
  background-color: #00bfff;
  border: none;
  display: block;
  height: 100%;
  color: black;
}

.infos {
  position: absolute;
  top: 20px;
  left: 20px;
  box-sizing: border-box;
  border: solid 1px white;
  padding: 5px;
  font-size: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
}

.header {
  position: relative;
  padding: 20px;
}

details {
  cursor: pointer;
}

details button {
  font-size: 15px;
  cursor: pointer;
}
