<button
  *ngFor="let tierList of tierLists; let tierIndex = index"
  (click)="switchTierList(tierIndex)"
>
  {{ tierList.name }}
</button>

<h1>
  <input [(ngModel)]="tierListTitle" />
</h1>

<button (click)="downloadImage()">Export Tier List</button>

<div id="download" style="visibility: hidden; height: 0">
  <img #canvas />
  <a #downloadLink></a>
</div>

<div cdkDropListGroup>
  <div id="tablewrap">
    <table #screen>
      <tbody>
        <tr *ngFor="let tier of tiers">
          <td class="labelHolder" contenteditable="false">
            <input [(ngModel)]="tier.name" />
          </td>
          <td
            cdkDropList
            [cdkDropListData]="tier.characters"
            (cdkDropListDropped)="drop($event)"
          >
            <div class="tier sort" id="rows">
              <img
                *ngFor="let character of tier.characters"
                [src]="'assets/characters/' + character"
                width="64"
                alt=""
                cdkDrag
              />
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
