<h1>
  <div style="text-align: center"><u>Tier List des RR</u></div>
</h1>

<button (click)="downloadImage()">Export Tier List</button>

<div id="download" style="visibility: hidden; height: 0">
  <img #canvas />
  <a #downloadLink></a>
</div>

<div cdkDropListGroup>
  <div id="tablewrap">
    <table #screen>
      <tbody>
        <tr>
          <td class="labelHolder" contenteditable="false">
            <span class="label">S</span>
          </td>
          <td
            cdkDropList
            [cdkDropListData]="tierS"
            (cdkDropListDropped)="drop($event)"
          >
            <div class="tier sort" id="rows">
              <img
                *ngFor="let c of tierS"
                [src]="'assets/characters/' + c"
                width="64"
                alt=""
                cdkDrag
              />
            </div>
          </td>
        </tr>
        <tr>
          <td class="labelHolder" contenteditable="false">
            <span class="label">A</span>
          </td>
          <td
            cdkDropList
            [cdkDropListData]="tierA"
            (cdkDropListDropped)="drop($event)"
          >
            <div class="tier sort" id="rows">
              <img
                *ngFor="let c of tierA"
                [src]="'assets/characters/' + c"
                width="64"
                alt=""
                cdkDrag
              />
            </div>
          </td>
        </tr>
        <tr>
          <td class="labelHolder" contenteditable="false">
            <span class="label">B</span>
          </td>
          <td
            cdkDropList
            [cdkDropListData]="tierB"
            (cdkDropListDropped)="drop($event)"
          >
            <div class="tier sort" id="rows">
              <img
                *ngFor="let c of tierB"
                [src]="'assets/characters/' + c"
                width="64"
                alt=""
                cdkDrag
              />
            </div>
          </td>
        </tr>
        <tr>
          <td class="labelHolder" contenteditable="false">
            <span class="label">C</span>
          </td>
          <td
            cdkDropList
            [cdkDropListData]="tierC"
            (cdkDropListDropped)="drop($event)"
          >
            <div class="tier sort" id="rows">
              <img
                *ngFor="let c of tierC"
                [src]="'assets/characters/' + c"
                width="64"
                alt=""
                cdkDrag
              />
            </div>
          </td>
        </tr>
        <tr>
          <td class="labelHolder" contenteditable="false">
            <span class="label">D</span>
          </td>
          <td
            cdkDropList
            [cdkDropListData]="tierD"
            (cdkDropListDropped)="drop($event)"
          >
            <div class="tier sort" id="rows">
              <img
                *ngFor="let c of tierD"
                [src]="'assets/characters/' + c"
                width="64"
                alt=""
                cdkDrag
              />
            </div>
          </td>
        </tr>
        <tr>
          <td class="labelHolder" contenteditable="false">
            <span class="label">E</span>
          </td>
          <td
            cdkDropList
            [cdkDropListData]="tierE"
            (cdkDropListDropped)="drop($event)"
          >
            <div class="tier sort" id="rows">
              <img
                *ngFor="let c of tierE"
                [src]="'assets/characters/' + c"
                width="64"
                alt=""
                cdkDrag
              />
            </div>
          </td>
        </tr>
        <tr>
          <td class="labelHolder" contenteditable="false">
            <span class="label">F</span>
          </td>
          <td
            cdkDropList
            [cdkDropListData]="tierF"
            (cdkDropListDropped)="drop($event)"
          >
            <div class="tier sort" id="rows">
              <img
                *ngFor="let c of tierF"
                [src]="'assets/characters/' + c"
                width="64"
                alt=""
                cdkDrag
              />
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
