.tier-list-actions-container {
  text-align: center;

  & > div {
    margin-top: 10px;

    &:first-of-type {
      margin-top: 0;
    }
  }
}

button {
  font-size: 15px;
  cursor: pointer;
  background-color: white;
  color: black;

  &.warn {
    background-color: #f44336;
  }

  &.active {
    background-color: lightskyblue;
  }
}

button {
  margin-left: 10px;
  margin-top: 10px;
}
