.legends-list {
  display: flex;
  flex-wrap: wrap;

  li {
    margin-left: 10px;
    list-style: none;
    cursor: pointer;
  }
}

.dual-name {
  -webkit-text-fill-color: transparent !important;
  -webkit-background-clip: text !important;
}

section {
  margin-bottom: 50px;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

table {
  background-color: white;
  border-collapse: collapse;
}

td {
  border: solid 1px black;
}
